body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:810px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:810px;
}
#u2 {
  position:absolute;
  left:2px;
  top:397px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:803px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:803px;
}
#u4 {
  position:absolute;
  left:2px;
  top:394px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:28px;
  top:118px;
  width:320px;
  height:568px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u6 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:28px;
  top:118px;
  width:320px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:152px;
  top:51px;
  width:74px;
  height:13px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:13px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:178px;
  top:729px;
  width:22px;
  height:22px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u12 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:154px;
  top:706px;
  width:68px;
  height:68px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u14 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:43px;
  top:580px;
  width:290px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
}
#u15_img.mouseDown {
}
#u15.mouseDown {
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:286px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:54px;
  top:226px;
  width:183px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:54px;
  top:295px;
  width:183px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:43px;
  top:362px;
  width:290px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:4px;
  width:290px;
  height:2px;
}
#u22 {
  position:absolute;
  left:43px;
  top:256px;
  width:241px;
  height:15px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:43px;
  top:346px;
  width:109px;
  height:15px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:43px;
  top:410px;
  width:290px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:4px;
  width:290px;
  height:2px;
}
#u27 {
  position:absolute;
  left:43px;
  top:375px;
  width:272px;
  height:15px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:15px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:43px;
  top:396px;
  width:109px;
  height:15px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:43px;
  top:317px;
  width:290px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:4px;
  width:290px;
  height:2px;
}
#u32 {
  position:absolute;
  left:320px;
  top:348px;
  width:14px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:4px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:320px;
  top:340px;
  width:14px;
  height:4px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:4px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:320px;
  top:397px;
  width:14px;
  height:4px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:4px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:320px;
  top:389px;
  width:14px;
  height:4px;
  -webkit-transform:rotate(225deg);
  -moz-transform:rotate(225deg);
  -ms-transform:rotate(225deg);
  transform:rotate(225deg);
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:4px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:43px;
  top:281px;
  width:290px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:4px;
  width:290px;
  height:2px;
}
#u41 {
  position:absolute;
  left:43px;
  top:244px;
  width:290px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:4px;
  width:290px;
  height:2px;
}
#u42 {
  position:absolute;
  left:30px;
  top:139px;
  width:316px;
  height:44px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:44px;
}
#u43 {
  position:absolute;
  left:2px;
  top:14px;
  width:312px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:43px;
  top:213px;
  width:290px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:4px;
  width:290px;
  height:2px;
}
#u45 {
  position:absolute;
  left:43px;
  top:191px;
  width:183px;
  height:18px;
  font-size:16px;
  color:#CC3300;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:18px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:281px;
  top:147px;
  width:52px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:48px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:43px;
  top:327px;
  width:58px;
  height:15px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:243px;
  top:185px;
  width:90px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u51_img.mouseDown {
}
#u51.mouseDown {
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:54px;
  top:423px;
  width:183px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:18px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:43px;
  top:445px;
  width:290px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:4px;
  width:290px;
  height:2px;
}
#u56 {
  position:absolute;
  left:43px;
  top:474px;
  width:290px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:4px;
  width:290px;
  height:2px;
}
#u57 {
  position:absolute;
  left:43px;
  top:458px;
  width:73px;
  height:15px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:43px;
  top:504px;
  width:290px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:4px;
  width:290px;
  height:2px;
}
#u60 {
  position:absolute;
  left:43px;
  top:489px;
  width:35px;
  height:15px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:272px;
  top:455px;
  width:61px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:272px;
  top:486px;
  width:61px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:43px;
  top:147px;
  width:52px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:28px;
}
#u67 {
  position:absolute;
  left:2px;
  top:8px;
  width:48px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:43px;
  top:542px;
  width:290px;
  height:10px;
}
#u68_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u68_line {
  position:absolute;
  left:0px;
  top:4px;
  width:290px;
  height:2px;
}
#u69 {
  position:absolute;
  left:43px;
  top:522px;
  width:39px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:272px;
  top:523px;
  width:61px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
