body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:810px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:810px;
}
#u2 {
  position:absolute;
  left:2px;
  top:397px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:803px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:803px;
}
#u4 {
  position:absolute;
  left:2px;
  top:394px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:28px;
  top:118px;
  width:320px;
  height:568px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u6 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:28px;
  top:118px;
  width:320px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:152px;
  top:51px;
  width:74px;
  height:13px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:13px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:178px;
  top:729px;
  width:22px;
  height:22px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u12 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:154px;
  top:706px;
  width:68px;
  height:68px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u14 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:75px;
  top:272px;
  width:230px;
  height:208px;
  font-size:36px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:208px;
}
#u16 {
  position:absolute;
  left:2px;
  top:83px;
  width:226px;
  word-wrap:break-word;
}
