body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:810px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:810px;
}
#u2 {
  position:absolute;
  left:2px;
  top:397px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:803px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:803px;
}
#u4 {
  position:absolute;
  left:2px;
  top:394px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:28px;
  top:118px;
  width:320px;
  height:568px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u6 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:28px;
  top:118px;
  width:320px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:152px;
  top:51px;
  width:74px;
  height:13px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:13px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:178px;
  top:729px;
  width:22px;
  height:22px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u12 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:154px;
  top:706px;
  width:68px;
  height:68px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u14 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:60px;
  top:160px;
  width:260px;
  height:160px;
  overflow:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:160px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  height:140px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:140px;
}
#u17 {
  position:absolute;
  left:2px;
  top:62px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:85px;
  top:100px;
  width:90px;
  height:30px;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u18_img.mouseDown {
}
#u18.mouseDown {
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:30px;
  top:24px;
  width:200px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:30px;
  top:53px;
  width:200px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:14px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:30px;
  top:72px;
  width:200px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:55px;
  top:335px;
  width:183px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:44px;
  top:402px;
  width:290px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:4px;
  width:290px;
  height:2px;
}
#u29 {
  position:absolute;
  left:44px;
  top:377px;
  width:55px;
  height:15px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:44px;
  top:450px;
  width:290px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:4px;
  width:290px;
  height:2px;
}
#u32 {
  position:absolute;
  left:44px;
  top:357px;
  width:290px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:4px;
  width:290px;
  height:2px;
}
#u33 {
  position:absolute;
  left:44px;
  top:425px;
  width:100px;
  height:15px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:15px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:273px;
  top:374px;
  width:61px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:273px;
  top:422px;
  width:61px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
